<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Se olvido su contraseña?  </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-padding"> 
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-label>
          Ingrese el correo registrado en la app
        </ion-label>
        <br>
       
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            [formControl]="userEmail"
            expand="full"
            placeholder="Correo electrónico"
            required
          />
        </div>
      <ion-button (click)="onReset()" expand="full" color="secondary">Enviar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>